@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
@import url('https://fonts.googleapis.com/css?family=Abel');

$brand-font: 'Ubuntu', sans-serif;
$base-font: 'Abel', serif;

$base-font-size: 1.4rem;
$big-font-size: 4rem;
$small-font-size: 0.8rem;

$bold-weight: 700;
